<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <form action="/contact" method="POST">
    <div class="contact-form">
    <div>
        <h1>Any queries? Contact us!</h1>
    </div>
    <div class="fields">
        <ul class="field-holders">
            <li><input type="text" placeholder="name" name="name"></li>
            <li><input type="email" placeholder="email" name="email"></li>
            <li><input type="number" placeholder="contact information" name="contact"></li>
            <li><input type="text" placeholder="tell us your query" name="query"></li>
        </ul>
        <button class="btn--small">submit</button>
    </div>
    </div>
</form>
</body>
</html>